* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
}

/* LOGO */
.logo {
    font-family: fantasy;
    font-size: 42px;
    letter-spacing: 3px;
    color: #fca311;
}

/* NAV LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #fca311;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 70px;
    text-align: center;
}

.hero {
    min-height: 80vh;              /* height of hero section */
    display: flex;
    justify-content: center;       /* horizontal center */
    align-items: center;           /* vertical center */
    text-align: center;            /* text center */
}

.center-text {
    max-width: 800px;
}

.buttons {
    justify-content: center;
}


.tagline {
    color: #fca311;
    font-size: 20px;
    margin-bottom: 15px;
}

.hero-text h1 {
    font-size: 56px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero-text h1 span {
    color: #fca311;
}

.quote {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 20px;
    color: #dddddd;
}

.description {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 35px;
}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 18px;
}

.btn {
    padding: 14px 26px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.primary {
    background: #fca311;
    color: black;
}

.secondary {
    background: #4cc9f0;
    color: black;
}

.outline {
    border: 2px solid white;
    color: white;
}

.btn:hover {
    opacity: 0.85;
}

/* IMAGE */
.hero-image {
    width: 40%;
    text-align: center;
}

.hero-image img {
    width: 85%;
    border-radius: 15px;
}
/* LOGIN PAGE */
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title {
    font-family: fantasy;
    font-size: 48px;
    margin-bottom: 30px;
    color: #fca311;
}

.login-box {
    background: rgba(255,255,255,0.08);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
}

.login-box h3 {
    margin-bottom: 25px;
    font-size: 22px;
}

.login-btn {
    display: block;
    padding: 12px;
    margin: 15px 0;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.parent {
    background: #fca311;
}

.volunteer {
    background: #4cc9f0;
}

.admin {
    background: #ff6b6b;
}
.page-container {
    padding: 50px;
    color: white;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 12px;
    margin: 15px 0;
    width:50%
}

.simple-form input,
.simple-form textarea {
    width: 50%;
    margin: 13px 0;
    padding: 15px;
}

.simple-form button {
    padding: 12px;
    background: #fca311;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.missing {
    color: red;
    font-weight: bold;
}

.found {
    color: lightgreen;
    font-weight: bold;
}

.login-container {
    height: 90vh;
    display: flexbox;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    

}

.login-btn {
    background: #fca311;
    padding: 20px 30px;
    margin: 27px;
    text-decoration: none;
    color: black;
    border-radius: 25px;
}
